.main
  .main__header
    HOME
  .main__tweet
    - @tweets.each do |tweet|
      .main__tweet__content
        .main__tweet__content__left
          - provide(:title, tweet.user.nickname) 
          %h1
            = gravatar_for tweet.user
        = link_to "/tweets/#{tweet.id}" do
          .main__tweet__content__right
            .main__tweet__content__right__name
              = tweet.user.nickname
            .main__tweet__content__right__text
              = simple_format(tweet.content)
            .main__tweet__content__right__image
              %a{"data-lightbox" => tweet.id, :href => tweet.image.url}
                =image_tag tweet.image.url if tweet.image.present?
            .main__tweet__content__right__post-time
              =tweet.updated_at.to_s
    .main__pagenation
      = paginate(@tweets)

