.main
  .main__header
    HOME
  .main__tweet
    - @tweets.each do |tweet|
      .main__tweet__content
        .main__tweet__content__left
          = link_to "/users/#{tweet.user.id}" do
            =icon('fas','user')
        = link_to "/tweets/#{tweet.id}" do
          .main__tweet__content__right
            .main__tweet__content__right__name
              = tweet.user.nickname
            .main__tweet__content__right__text
              = simple_format(tweet.text)
            .main__tweet__content__right__image
              =image_tag tweet.image.url if tweet.image.present?
            .main__tweet__content__right__post-time
              =tweet.updated_at.to_s
    = paginate(@tweets)

