.side
  - if user_signed_in?
    %ul.side__list
      = link_to "/", class: 'side-icon', title: "ホーム画面" do
        %li
          =icon('fa', 'home', class:"icon")
          HOME
      = link_to "/users/#{current_user.id}",class: 'side-icon',title:"マイページ" do
        %li
          = icon('far', 'smile', class:"icon")
          MYPAGE
      = link_to destroy_user_session_path,class: 'side-icon', method: :delete,title:"ログアウト" do
        %li
          = icon('fas', 'sign-out-alt', class:"icon")      
          LOGOUT 
      = link_to "/tweets/new",class: 'side-icon',title:"新規投稿" do  
        %li
          =icon('fas', 'pen', class:"icon")
          新規投稿
  - else
    %ul.side__list
      = link_to new_user_session_path,class: 'side-icon',title:"ログイン" do
        %li
          = icon('fas', 'sign-in-alt', class:"icon")
          LOGIN
      = link_to new_user_registration_path,class: 'side-icon' ,title:"新規登録"do
        %li
          = icon('fas', 'user-edit', class:"icon")
        新規登録
  - if current_user.try(:admin?)
    %ul.side__list
      = link_to "/admin" ,class: 'side-icon',title:"管理ページ"do
        %li
          = icon('fas', 'key', class:"icon")
          管理画面
