.side
  - if user_signed_in?
    %ul.side__list
      %li
        = link_to "/", class: 'main-icon' do
          =icon('fa', 'home', class:"icon")
      %li
        = link_to "/users/#{current_user.id}" do
          = icon('far', 'smile', class:"icon")
      %li
        = link_to destroy_user_session_path, method: :delete do
          = icon('fas', 'sign-out-alt', class:"icon")       
      %li
        = link_to "/tweets/new", class: "post" do
          =icon('fas', 'pen', class:"icon")
  - else
    .grid-6
      = link_to new_user_session_path, class: 'post' do
        = icon('fas', 'sign-in-alt', class:"icon")
      = link_to new_user_registration_path, class: 'post' do
        = icon('fas', 'user-edit', class:"icon")
  - if current_user.try(:admin?)
    %ul.side__list
      %li
        = link_to "/admin" do
          = icon('fas', 'key', class:"icon")
