.wrapper
  = render "side"
  .main
    .main__header
      = link_to tweets_path do
        ←
      POST
    .main__tweet
      .main__tweet__content
        .main__tweet__content__left
          - provide(:title, @tweet.user.nickname) 
          %h2
            = gravatar_for @tweet.user
        .main__tweet__content__right
          .main__tweet__content__right__name
            = @tweet.user.nickname
          .main__tweet__content__right__text
            = simple_format(@tweet.content)
          .main__tweet__content__right__image
            %a{"data-lightbox" => @tweet.id, :href => @tweet.image.url}
              =image_tag @tweet.image.url if @tweet.image.present?
          = render 'likes/like_links', tweet: @tweet
          .main__tweet__content__right__post-time
            -# =@tweet.updated_at.to_s
            =time_ago_in_words(@tweet.updated_at.to_s)
            前
          - if user_signed_in? && current_user.id == @tweet.user_id
            .main__tweet__content__right__more
              = link_to "/tweets/#{@tweet.id}", class:'main-icon', method: :delete, class:'main-icon' do
                =icon('fas','trash-alt')
              = link_to "/tweets/#{@tweet.id}/edit", class:'main-icon', method: :get do
                =icon('fas','edit')
          
