%div.like-link{id: "like-link-#{tweet.id}"}
  
  - if current_user.nil?
    = link_to  new_user_session_path do
      = icon('fa','heart',class:'like-btn')
      = tweet.likes.count

  - elsif Like.find_by(user_id: current_user.id, tweet_id: tweet.id)
    = link_to "/likes/#{tweet.id}/destroy",{method: "post"} do
      = icon('fa','heart',class:'like-btn-unlike')
      = tweet.likes.count

  - else
    = link_to "/likes/#{tweet.id}/create",{method: "post"} do
      = icon('fa','heart',class:'like-btn')
      = tweet.likes.count