.wrapper
  = render "tweets/side"
  .main
    .main__header
      ユーザー一覧
    .main__tweet 
      
      - @user.each do |user|  
        =link_to "users/#{user.id}" do
          .user_avatars
            = gravatar_for(user)
            %p
              = user.nickname

    .main__pagenation
      = paginate(@user)
