-# .contents.row
-#   %p
-#     = @nickname
-#     さんの投稿一覧
-#   - @tweets.each do |tweet|
-#     .content_post{:style => "background-image: url(#{tweet.image});"}
-#       = simple_format(tweet.text)
.wrapper
  .side
    = render"side"
  .main
    .main__tweet
      %p
      = @nickname
      さんの投稿一覧
      - @tweets.each do |tweet|
        .main__tweet__content
          .main__tweet__content__image
            = image_tag tweet.image
          .main__tweer__content__text
            = simple_format(tweet.text)
          .main__tweet__content__more
            - if user_signed_in? && current_user.id == tweet.user_id
              = link_to  "/tweets/#{tweet.id}", class:'main-icon', method: :delete, data: { confirm: '本当に削除しますか？' } do
                =icon('fas','trash-alt')
              = link_to  "/tweets/#{tweet.id}/edit", class:'main-icon', method: :get do
                =icon('fas','edit')
