.wrapper
  = render "tweets/side"
  .main
    .main__header
      = link_to "/users/#{@user.id}" do
        â†
      = @user.nickname
    .main__tweet 
      - provide(:title, @title)
      .row
        %section.stats
          = render 'users/stats'
          %h3= @title
          - if @users.any?
            .user_avatars
              - @users.each do |user|
                = link_to gravatar_for(user), user
                = user.nickname
              = paginate(@users)
