.wrapper
  = render "tweets/side"
  .main
    .main__header
      = link_to "/users/#{@user.id}" do
        â†
      = @user.nickname
    .main__tweet 
      - provide(:title, @title)
      .row 
        .row__tab
          -if @title == "Following"
            %a{:href => "#{following_user_path(@user)}"}
              .row__tab__following{id: "followTab"}
                Following
            %a{:href => "#{followers_user_path(@user)}"}
              .row__tab__followers
                Followers
          -else
            %a{:href => "#{following_user_path(@user)}"}
              .row__tab__following
                Following
            %a{:href => "#{followers_user_path(@user)}"}
              .row__tab__followers{id: "followTab"}
                Followers
        - if @users.any?
          .user_avatars
            - @users.each do |user|
              = link_to gravatar_for(user), user
              %p
                = user.nickname
            = paginate(@users)
