.wrapper
  .side
    = render"tweets/side"
  .main
    .main__header
      = @nickname
      さんの投稿一覧
    .main__tweet
      - @tweets.each do |tweet|
        .main__tweet__content
          .main__tweet__content__left
            =icon('fas','user')
          .main__tweet__content__right
            .main__tweet__content__right__name
              = tweet.user.nickname
            .main__tweet__content__right__text
              = simple_format(tweet.content)
            .main__tweet__content__right__image
              %a{"data-lightbox" => tweet.id, :href => tweet.image.url}
                =image_tag tweet.image.url if tweet.image.present?
            .main__tweet__content__right__post-time
              =tweet.updated_at.to_s
            - if user_signed_in? && current_user.id == tweet.user_id
              .main__tweet__content__right__more
                = link_to  "/tweets/#{tweet.id}", class:'main-icon', method: :delete, class:'main-icon' do
                  =icon('fas','trash-alt')
                = link_to  "/tweets/#{tweet.id}/edit", class:'main-icon', method: :get do
                  =icon('fas','edit')
            
      = paginate(@tweets)

